# Ignore these files

# Visual Studio options folder
.vs/

# Build objects
obj/

# Packages
packages/

# Build assets
bin/

# Test results
TestResults/

# Docs log
log.txt

#Debug log
debug.log

# SQLite database
*.db

# Jupyter notebooks
.ipynb_checkpoints/

# Benchmarks
BenchmarkDotNet.Artifacts/